@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";
@source "../../out";

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(/assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

@theme {
    --font-mono: "JetBrains Mono", monospace;
}

/*
Admonition-like block containing highlighted information
 */
.info, .error, .success, .warning, .tip {
    @apply border-l-4 p-4 my-4 rounded-md break-words;

    *:first-child, * {
        @apply my-0;
    }
}

:root:has(.no-doc-scroll) {
    @apply max-md:overflow-y-hidden;
}

@utility info {
    @apply border-blue-500 bg-blue-100 dark:bg-blue-950;
}

@utility tip {
    @apply border-teal-500 bg-teal-100 dark:bg-teal-950;
}

@utility error {
    @apply border-red-500 bg-red-100 dark:bg-red-950;
}

@utility warning {
    @apply border-yellow-500 bg-yellow-100 dark:bg-yellow-950;
}

@utility success {
    @apply border-green-500 bg-green-100 dark:bg-green-950;
}

@utility primary-button {
    @apply bg-orange-100 dark:bg-orange-900 py-2 px-3 rounded-full text-orange-700 dark:text-orange-100;
}

@utility center {
    @apply flex justify-center items-center;
}

@layer components {
    .topbar-content {
        @apply text-zinc-900 dark:text-zinc-50;

        a, li {
            @apply flex items-center gap-1;
        }
    }

    .sidebar-content {
        ul ul {
            @apply ml-2 md:ml-1 pl-2 md:pl-1 space-y-1 border-l border-zinc-200 dark:border-zinc-700;
            @apply -mb-3 md:-mb-2;
        }
        li {
            @apply py-2 md:py-1 my-1;
            @apply ps-2 md:ps-2;
            @apply text-zinc-500 dark:text-zinc-400 text-sm italic;

            a {
                @apply text-zinc-700 dark:text-zinc-300 text-sm not-italic;
                @apply hover:bg-zinc-200 dark:hover:bg-zinc-800 py-2 md:py-1 -my-2 md:-my-1 px-2 md:px-2 -ml-2 md:-ml-2;
                @apply flex items-center rounded-md gap-1;
            }

            ul {
                @apply mt-3 md:mt-2;
            }
        }
        .selected {
            @apply bg-orange-100 font-semibold dark:bg-orange-900 text-orange-700 dark:text-orange-100;
            @apply hover:bg-orange-100 dark:hover:bg-orange-900
        }

        h1 {
            @apply font-semibold pt-2 flex items-center gap-1;
        }

        h2 {
            @apply text-sm font-semibold pt-1 flex items-center gap-1;
        }
    }
}

.icon {
    @apply inline-block shrink-0 w-5 h-5;
}

.prose h2 {
    @apply items-center;

    .icon {
        @apply w-6 h-6 mr-1;
    }
}

@utility full-bleed {
    width: 100%;
    grid-column: 1 / 4 !important;
}

@utility wrapper {
    display: grid;
    grid-template-columns: 1fr min(1080px, calc(100% - 40px)) 1fr;
    /*grid-column-gap: 24px;*/
    grid-row-gap: 0;
    > * {
        grid-column: 2;
    }
}

@utility break-word {
    word-break: break-word;
}
.image-small {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-medium {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-large {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

:root {
    color-scheme: dark;
}
